<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/main.css" />
    <%- include('partials/navbar', {page: '/about'}) %>
<title>
    ABOUT ME
</title>
<body>
    <h2>Hello my name is Maher Harten <br>I'm a seneca student and I want to make a project <br>
    that utilizes the skills I learned in WEB322 and from this python tutorial online<br>
    to make a website that hosts a game powered by python, and uses a database to store created user accounts</h2>

</body>
<%- include('partials/copyright_footer') %>

</html>